POSTGRES_DB=kittygram
POSTGRES_USER=kittygram_user
POSTGRES_PASSWORD=kittygram_password
DEBUG=False
ALLOWED_HOSTS=81.26.183.183,localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=http://81.26.183.183:9000,http://localhost:9000
